#container{
  width:         1200px;
  margin:        auto
}
#header{
  width:         50%;
  height:        90%;
  background:    #FF1400;
  float:         left;
  text-align:    center;
  margin-bottom: 20px;
}
#navbar{
  width:         50%;
  height:        40%;
  background:    #22FF52;
  float:         left;
  text-align:    center;
  padding:       1%;
  margin-bottom: auto;
}
#greenLine{
  width:         50%;
  background:    #22FF52;
  clear:         both;
  margin-bottom: auto;
  float:         left;
}
#content{
  float:         left;
  width:         40%;
  background:    #E80CB3;
}
.footer{
  position:      absolute;
  top:           1000px;
  right:         0;
  width:         2000px;
  height:        1000px;
  border:        2px #400500;
  float:         left;
}


#ad{
  float:         left;
  width:         40%;
  background:    #FFFB06;
}
#ad{
  float:         left;
  width:         40%;
  background:    #FFFB06;
}
#ad{
  float:         left;
  width:         40%;
  background:    #FFFB06;
}
