ul{
  margin:                0;
  padding:              0;
  overflow:             hidden;
  list-style-type:      none;
  background:           blue;
}

li{
  float:            left;
  padding-left:     10px;
  padding-right:    10px;
}

li a{
  text-decoration:  none;
  color:            orange;

}
/* NEW DROPDOWN CSS STARTS HERE*/
.dropdown{
  position:         relative;
  display:          inline-block;
}

.drop-content{
  display:            none;
  /* Prettyfying Stuff Start */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  /* Prettyfying Stuff End */
}
.dropdown:hover .drop-content{
  display:           block;
}







}
