#container{
    width:        1200px;
    margin:       auto;
}
#nav{
  width:          20%;
  float:          left;
  background:     black;
  text-align:     center;
  padding:        1%;
  margin:         1.5%;
}
#header{
  width:          50%;
  height:         80px;
  float:          left;
  background:     orange;
  text-align:     center;
  margin-bottom:  5px;
}
#blackLine{
  width:          100%;
  background:     black;
  clear:          both;
  margin-bottom:  5px;
}
#ad{
  float:          left;
  width:          30%;
  background:     red;
}
#content{
  float:          left;
  width:          40%;
  background:     magenta;
}
